
.main-title{
  color: steelblue;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.main-title:before,
.main-title:after{
    content: "";
    display: block;
    margin: .5em 0;
    width: 100%;
    height: .1em;
}
.main-title:before{
  background: linear-gradient(to left,
                              red 33%,
                              yellow 33%,
                              yellow 66%,
                              green 66%
                              );
  opacity: .6;
}
.main-title:after{
  background: linear-gradient(
                     to left,
                     steelblue 33%,
                     tomato 33%,
                     tomato 66%,
                     gold 66%

    );
}

.main-subtitle:after{
  content: url(https://i.ytimg.com/vi/sROSCGZq1rA/hqdefault.jpg);
  display: block;
}
.precio {
  text-transform: uppercase;
}

.precio:before {
  content: attr(class);
  margin-right: .2em;
}

.precio:after {
  content: " dolares";
}
