body{
    padding-bottom: 20em;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
pre{
    background: #eee;
    border: 1px solid #ccc;
    font-size:  1.1em;
    padding: 1em .5em;
    color: teal;
}
/*demo*/
.container-demo{
    display: flex; /*esto lo pone en direccion del main axis osea horizontal*/
    border: 1px solid black;
    flex-direction: row-reverse; /*con flex-direction tambien podemos cambia el sentido de nuestro elementos*/
}
.item-demo{
    background: pink;
    width: 100px;
    height: 100px;
}
.item-demo:nth-child(even){
    background: lightblue;
}

/*DEMO 2*/
.container-demo2{
    display: flex; /*esto lo pone en direccion del main axis osea horizontal*/
    border: 1px solid black;
    justify-content: space-evenly;
}

/*DEMO 3   main=horizontal por defecto y cross=vertical por defecto*/
.container-demo3{
    display: flex;
    border: 1px solid black;
    height: 800px;
    justify-content: space-between;
    flex-direction: column;
    /*align-items: flex-end;*/
}
.container-demo3 .item-demo{
    /*height: auto;*/
    width: auto;
}


/*DEMO 4*/
.container-demo4{
    display: flex;
    border: 1px solid black;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.container-demo4 .item-demo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5em;
}